.slideDown-cc4125 {
  animation-name: slideDown-cc4125;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-d65345 {
  animation-name: slideDown-d65345;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-e06666 {
  animation-name: slideDown-e06666;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-eb8c68 {
  animation-name: slideDown-eb8c68;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-f6b26b {
  animation-name: slideDown-f6b26b;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-fac568 {
  animation-name: slideDown-fac568;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-ffd966 {
  animation-name: slideDown-ffd966;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-c9ce71 {
  animation-name: slideDown-c9ce71;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-93c47d {
  animation-name: slideDown-93c47d;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-84b496 {
  animation-name: slideDown-84b496;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-76a5af {
  animation-name: slideDown-76a5af;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-6d9eeb {
  animation-name: slideDown-6d9eeb;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-6fa8dc {
  animation-name: slideDown-6fa8dc;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-8e7cc3 {
  animation-name: slideDown-8e7cc3;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-a87bb1 {
  animation-name: slideDown-a87bb1;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-c27ba0 {
  animation-name: slideDown-c27ba0;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideDown-cc3b3b {
  animation-name: slideDown-cc3b3b;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-cc4125 {
  animation-name: slideUp-cc4125;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-d65345 {
  animation-name: slideUp-d65345;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-e06666 {
  animation-name: slideUp-e06666;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-eb8c68 {
  animation-name: slideUp-eb8c68;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-f6b26b {
  animation-name: slideUp-f6b26b;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-fac568 {
  animation-name: slideUp-fac568;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-ffd966 {
  animation-name: slideUp-ffd966;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-c9ce71 {
  animation-name: slideUp-c9ce71;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-93c47d {
  animation-name: slideUp-93c47d;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-84b496 {
  animation-name: slideUp-84b496;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-76a5af {
  animation-name: slideUp-76a5af;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-6d9eeb {
  animation-name: slideUp-6d9eeb;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-6fa8dc {
  animation-name: slideUp-6fa8dc;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-8e7cc3 {
  animation-name: slideUp-8e7cc3;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-a87bb1 {
  animation-name: slideUp-a87bb1;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-c27ba0 {
  animation-name: slideUp-c27ba0;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideUp-cc3b3b {
  animation-name: slideUp-cc3b3b;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-cc4125 {
  animation-name: slideLeft-cc4125;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-d65345 {
  animation-name: slideLeft-d65345;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-e06666 {
  animation-name: slideLeft-e06666;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-eb8c68 {
  animation-name: slideLeft-eb8c68;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-f6b26b {
  animation-name: slideLeft-f6b26b;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-fac568 {
  animation-name: slideLeft-fac568;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-ffd966 {
  animation-name: slideLeft-ffd966;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-c9ce71 {
  animation-name: slideLeft-c9ce71;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-93c47d {
  animation-name: slideLeft-93c47d;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-84b496 {
  animation-name: slideLeft-84b496;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-76a5af {
  animation-name: slideLeft-76a5af;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-6d9eeb {
  animation-name: slideLeft-6d9eeb;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-6fa8dc {
  animation-name: slideLeft-6fa8dc;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-8e7cc3 {
  animation-name: slideLeft-8e7cc3;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-a87bb1 {
  animation-name: slideLeft-a87bb1;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-c27ba0 {
  animation-name: slideLeft-c27ba0;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideLeft-cc3b3b {
  animation-name: slideLeft-cc3b3b;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-cc4125 {
  animation-name: slideRight-cc4125;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-d65345 {
  animation-name: slideRight-d65345;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-e06666 {
  animation-name: slideRight-e06666;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-eb8c68 {
  animation-name: slideRight-eb8c68;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-f6b26b {
  animation-name: slideRight-f6b26b;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-fac568 {
  animation-name: slideRight-fac568;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-ffd966 {
  animation-name: slideRight-ffd966;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-c9ce71 {
  animation-name: slideRight-c9ce71;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-93c47d {
  animation-name: slideRight-93c47d;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-84b496 {
  animation-name: slideRight-84b496;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-76a5af {
  animation-name: slideRight-76a5af;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-6d9eeb {
  animation-name: slideRight-6d9eeb;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-6fa8dc {
  animation-name: slideRight-6fa8dc;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-8e7cc3 {
  animation-name: slideRight-8e7cc3;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-a87bb1 {
  animation-name: slideRight-a87bb1;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-c27ba0 {
  animation-name: slideRight-c27ba0;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.slideRight-cc3b3b {
  animation-name: slideRight-cc3b3b;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

@keyframes slideDown-cc4125 {
  0% {
    background-image: linear-gradient(to bottom, #cc4125 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #cc4125; }
  30% {
    background-image: linear-gradient(to bottom, #cc4125 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #cc4125; }
  100% {
    background-image: linear-gradient(to bottom, #cc4125 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #cc4125; } }

@keyframes slideUp-cc4125 {
  0% {
    background-image: linear-gradient(to top, white 50%, #cc4125 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #cc4125; }
  30% {
    background-image: linear-gradient(to top, white 50%, #cc4125 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #cc4125; }
  100% {
    background-image: linear-gradient(to top, white 50%, #cc4125 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #cc4125; } }

@keyframes slideLeft-cc4125 {
  0% {
    background-image: linear-gradient(to left, #cc4125 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #cc4125; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #cc4125 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #cc4125 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-cc4125 {
  0% {
    background-image: linear-gradient(to right, white 50%, #cc4125 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #cc4125; }
  15% {
    color: #cc4125; }
  30% {
    background-image: linear-gradient(to right, white 50%, #cc4125 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #cc4125 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-d65345 {
  0% {
    background-image: linear-gradient(to bottom, #d65345 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #d65345; }
  30% {
    background-image: linear-gradient(to bottom, #d65345 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #d65345; }
  100% {
    background-image: linear-gradient(to bottom, #d65345 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #d65345; } }

@keyframes slideUp-d65345 {
  0% {
    background-image: linear-gradient(to top, white 50%, #d65345 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #d65345; }
  30% {
    background-image: linear-gradient(to top, white 50%, #d65345 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #d65345; }
  100% {
    background-image: linear-gradient(to top, white 50%, #d65345 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #d65345; } }

@keyframes slideLeft-d65345 {
  0% {
    background-image: linear-gradient(to left, #d65345 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #d65345; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #d65345 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #d65345 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-d65345 {
  0% {
    background-image: linear-gradient(to right, white 50%, #d65345 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #d65345; }
  15% {
    color: #d65345; }
  30% {
    background-image: linear-gradient(to right, white 50%, #d65345 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #d65345 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-e06666 {
  0% {
    background-image: linear-gradient(to bottom, #e06666 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #e06666; }
  30% {
    background-image: linear-gradient(to bottom, #e06666 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #e06666; }
  100% {
    background-image: linear-gradient(to bottom, #e06666 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #e06666; } }

@keyframes slideUp-e06666 {
  0% {
    background-image: linear-gradient(to top, white 50%, #e06666 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #e06666; }
  30% {
    background-image: linear-gradient(to top, white 50%, #e06666 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #e06666; }
  100% {
    background-image: linear-gradient(to top, white 50%, #e06666 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #e06666; } }

@keyframes slideLeft-e06666 {
  0% {
    background-image: linear-gradient(to left, #e06666 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #e06666; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #e06666 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #e06666 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-e06666 {
  0% {
    background-image: linear-gradient(to right, white 50%, #e06666 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #e06666; }
  15% {
    color: #e06666; }
  30% {
    background-image: linear-gradient(to right, white 50%, #e06666 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #e06666 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-eb8c68 {
  0% {
    background-image: linear-gradient(to bottom, #eb8c68 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #eb8c68; }
  30% {
    background-image: linear-gradient(to bottom, #eb8c68 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #eb8c68; }
  100% {
    background-image: linear-gradient(to bottom, #eb8c68 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #eb8c68; } }

@keyframes slideUp-eb8c68 {
  0% {
    background-image: linear-gradient(to top, white 50%, #eb8c68 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #eb8c68; }
  30% {
    background-image: linear-gradient(to top, white 50%, #eb8c68 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #eb8c68; }
  100% {
    background-image: linear-gradient(to top, white 50%, #eb8c68 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #eb8c68; } }

@keyframes slideLeft-eb8c68 {
  0% {
    background-image: linear-gradient(to left, #eb8c68 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #eb8c68; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #eb8c68 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #eb8c68 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-eb8c68 {
  0% {
    background-image: linear-gradient(to right, white 50%, #eb8c68 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #eb8c68; }
  15% {
    color: #eb8c68; }
  30% {
    background-image: linear-gradient(to right, white 50%, #eb8c68 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #eb8c68 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-f6b26b {
  0% {
    background-image: linear-gradient(to bottom, #f6b26b 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #f6b26b; }
  30% {
    background-image: linear-gradient(to bottom, #f6b26b 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #f6b26b; }
  100% {
    background-image: linear-gradient(to bottom, #f6b26b 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #f6b26b; } }

@keyframes slideUp-f6b26b {
  0% {
    background-image: linear-gradient(to top, white 50%, #f6b26b 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #f6b26b; }
  30% {
    background-image: linear-gradient(to top, white 50%, #f6b26b 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #f6b26b; }
  100% {
    background-image: linear-gradient(to top, white 50%, #f6b26b 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #f6b26b; } }

@keyframes slideLeft-f6b26b {
  0% {
    background-image: linear-gradient(to left, #f6b26b 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #f6b26b; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #f6b26b 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #f6b26b 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-f6b26b {
  0% {
    background-image: linear-gradient(to right, white 50%, #f6b26b 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #f6b26b; }
  15% {
    color: #f6b26b; }
  30% {
    background-image: linear-gradient(to right, white 50%, #f6b26b 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #f6b26b 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-fac568 {
  0% {
    background-image: linear-gradient(to bottom, #fac568 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #fac568; }
  30% {
    background-image: linear-gradient(to bottom, #fac568 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #fac568; }
  100% {
    background-image: linear-gradient(to bottom, #fac568 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #fac568; } }

@keyframes slideUp-fac568 {
  0% {
    background-image: linear-gradient(to top, white 50%, #fac568 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #fac568; }
  30% {
    background-image: linear-gradient(to top, white 50%, #fac568 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #fac568; }
  100% {
    background-image: linear-gradient(to top, white 50%, #fac568 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #fac568; } }

@keyframes slideLeft-fac568 {
  0% {
    background-image: linear-gradient(to left, #fac568 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #fac568; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #fac568 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #fac568 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-fac568 {
  0% {
    background-image: linear-gradient(to right, white 50%, #fac568 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #fac568; }
  15% {
    color: #fac568; }
  30% {
    background-image: linear-gradient(to right, white 50%, #fac568 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #fac568 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-ffd966 {
  0% {
    background-image: linear-gradient(to bottom, #ffd966 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #ffd966; }
  30% {
    background-image: linear-gradient(to bottom, #ffd966 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #ffd966; }
  100% {
    background-image: linear-gradient(to bottom, #ffd966 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #ffd966; } }

@keyframes slideUp-ffd966 {
  0% {
    background-image: linear-gradient(to top, white 50%, #ffd966 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #ffd966; }
  30% {
    background-image: linear-gradient(to top, white 50%, #ffd966 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #ffd966; }
  100% {
    background-image: linear-gradient(to top, white 50%, #ffd966 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #ffd966; } }

@keyframes slideLeft-ffd966 {
  0% {
    background-image: linear-gradient(to left, #ffd966 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #ffd966; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #ffd966 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #ffd966 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-ffd966 {
  0% {
    background-image: linear-gradient(to right, white 50%, #ffd966 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #ffd966; }
  15% {
    color: #ffd966; }
  30% {
    background-image: linear-gradient(to right, white 50%, #ffd966 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #ffd966 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-c9ce71 {
  0% {
    background-image: linear-gradient(to bottom, #c9ce71 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #c9ce71; }
  30% {
    background-image: linear-gradient(to bottom, #c9ce71 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #c9ce71; }
  100% {
    background-image: linear-gradient(to bottom, #c9ce71 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #c9ce71; } }

@keyframes slideUp-c9ce71 {
  0% {
    background-image: linear-gradient(to top, white 50%, #c9ce71 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #c9ce71; }
  30% {
    background-image: linear-gradient(to top, white 50%, #c9ce71 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #c9ce71; }
  100% {
    background-image: linear-gradient(to top, white 50%, #c9ce71 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #c9ce71; } }

@keyframes slideLeft-c9ce71 {
  0% {
    background-image: linear-gradient(to left, #c9ce71 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #c9ce71; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #c9ce71 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #c9ce71 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-c9ce71 {
  0% {
    background-image: linear-gradient(to right, white 50%, #c9ce71 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #c9ce71; }
  15% {
    color: #c9ce71; }
  30% {
    background-image: linear-gradient(to right, white 50%, #c9ce71 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #c9ce71 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-93c47d {
  0% {
    background-image: linear-gradient(to bottom, #93c47d 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #93c47d; }
  30% {
    background-image: linear-gradient(to bottom, #93c47d 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #93c47d; }
  100% {
    background-image: linear-gradient(to bottom, #93c47d 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #93c47d; } }

@keyframes slideUp-93c47d {
  0% {
    background-image: linear-gradient(to top, white 50%, #93c47d 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #93c47d; }
  30% {
    background-image: linear-gradient(to top, white 50%, #93c47d 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #93c47d; }
  100% {
    background-image: linear-gradient(to top, white 50%, #93c47d 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #93c47d; } }

@keyframes slideLeft-93c47d {
  0% {
    background-image: linear-gradient(to left, #93c47d 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #93c47d; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #93c47d 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #93c47d 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-93c47d {
  0% {
    background-image: linear-gradient(to right, white 50%, #93c47d 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #93c47d; }
  15% {
    color: #93c47d; }
  30% {
    background-image: linear-gradient(to right, white 50%, #93c47d 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #93c47d 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-84b496 {
  0% {
    background-image: linear-gradient(to bottom, #84b496 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #84b496; }
  30% {
    background-image: linear-gradient(to bottom, #84b496 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #84b496; }
  100% {
    background-image: linear-gradient(to bottom, #84b496 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #84b496; } }

@keyframes slideUp-84b496 {
  0% {
    background-image: linear-gradient(to top, white 50%, #84b496 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #84b496; }
  30% {
    background-image: linear-gradient(to top, white 50%, #84b496 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #84b496; }
  100% {
    background-image: linear-gradient(to top, white 50%, #84b496 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #84b496; } }

@keyframes slideLeft-84b496 {
  0% {
    background-image: linear-gradient(to left, #84b496 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #84b496; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #84b496 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #84b496 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-84b496 {
  0% {
    background-image: linear-gradient(to right, white 50%, #84b496 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #84b496; }
  15% {
    color: #84b496; }
  30% {
    background-image: linear-gradient(to right, white 50%, #84b496 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #84b496 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-76a5af {
  0% {
    background-image: linear-gradient(to bottom, #76a5af 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #76a5af; }
  30% {
    background-image: linear-gradient(to bottom, #76a5af 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #76a5af; }
  100% {
    background-image: linear-gradient(to bottom, #76a5af 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #76a5af; } }

@keyframes slideUp-76a5af {
  0% {
    background-image: linear-gradient(to top, white 50%, #76a5af 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #76a5af; }
  30% {
    background-image: linear-gradient(to top, white 50%, #76a5af 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #76a5af; }
  100% {
    background-image: linear-gradient(to top, white 50%, #76a5af 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #76a5af; } }

@keyframes slideLeft-76a5af {
  0% {
    background-image: linear-gradient(to left, #76a5af 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #76a5af; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #76a5af 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #76a5af 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-76a5af {
  0% {
    background-image: linear-gradient(to right, white 50%, #76a5af 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #76a5af; }
  15% {
    color: #76a5af; }
  30% {
    background-image: linear-gradient(to right, white 50%, #76a5af 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #76a5af 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-6d9eeb {
  0% {
    background-image: linear-gradient(to bottom, #6d9eeb 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #6d9eeb; }
  30% {
    background-image: linear-gradient(to bottom, #6d9eeb 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #6d9eeb; }
  100% {
    background-image: linear-gradient(to bottom, #6d9eeb 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #6d9eeb; } }

@keyframes slideUp-6d9eeb {
  0% {
    background-image: linear-gradient(to top, white 50%, #6d9eeb 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #6d9eeb; }
  30% {
    background-image: linear-gradient(to top, white 50%, #6d9eeb 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #6d9eeb; }
  100% {
    background-image: linear-gradient(to top, white 50%, #6d9eeb 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #6d9eeb; } }

@keyframes slideLeft-6d9eeb {
  0% {
    background-image: linear-gradient(to left, #6d9eeb 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #6d9eeb; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #6d9eeb 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #6d9eeb 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-6d9eeb {
  0% {
    background-image: linear-gradient(to right, white 50%, #6d9eeb 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #6d9eeb; }
  15% {
    color: #6d9eeb; }
  30% {
    background-image: linear-gradient(to right, white 50%, #6d9eeb 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #6d9eeb 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-6fa8dc {
  0% {
    background-image: linear-gradient(to bottom, #6fa8dc 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #6fa8dc; }
  30% {
    background-image: linear-gradient(to bottom, #6fa8dc 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #6fa8dc; }
  100% {
    background-image: linear-gradient(to bottom, #6fa8dc 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #6fa8dc; } }

@keyframes slideUp-6fa8dc {
  0% {
    background-image: linear-gradient(to top, white 50%, #6fa8dc 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #6fa8dc; }
  30% {
    background-image: linear-gradient(to top, white 50%, #6fa8dc 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #6fa8dc; }
  100% {
    background-image: linear-gradient(to top, white 50%, #6fa8dc 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #6fa8dc; } }

@keyframes slideLeft-6fa8dc {
  0% {
    background-image: linear-gradient(to left, #6fa8dc 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #6fa8dc; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #6fa8dc 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #6fa8dc 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-6fa8dc {
  0% {
    background-image: linear-gradient(to right, white 50%, #6fa8dc 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #6fa8dc; }
  15% {
    color: #6fa8dc; }
  30% {
    background-image: linear-gradient(to right, white 50%, #6fa8dc 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #6fa8dc 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-8e7cc3 {
  0% {
    background-image: linear-gradient(to bottom, #8e7cc3 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #8e7cc3; }
  30% {
    background-image: linear-gradient(to bottom, #8e7cc3 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #8e7cc3; }
  100% {
    background-image: linear-gradient(to bottom, #8e7cc3 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #8e7cc3; } }

@keyframes slideUp-8e7cc3 {
  0% {
    background-image: linear-gradient(to top, white 50%, #8e7cc3 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #8e7cc3; }
  30% {
    background-image: linear-gradient(to top, white 50%, #8e7cc3 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #8e7cc3; }
  100% {
    background-image: linear-gradient(to top, white 50%, #8e7cc3 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #8e7cc3; } }

@keyframes slideLeft-8e7cc3 {
  0% {
    background-image: linear-gradient(to left, #8e7cc3 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #8e7cc3; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #8e7cc3 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #8e7cc3 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-8e7cc3 {
  0% {
    background-image: linear-gradient(to right, white 50%, #8e7cc3 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #8e7cc3; }
  15% {
    color: #8e7cc3; }
  30% {
    background-image: linear-gradient(to right, white 50%, #8e7cc3 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #8e7cc3 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-a87bb1 {
  0% {
    background-image: linear-gradient(to bottom, #a87bb1 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #a87bb1; }
  30% {
    background-image: linear-gradient(to bottom, #a87bb1 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #a87bb1; }
  100% {
    background-image: linear-gradient(to bottom, #a87bb1 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #a87bb1; } }

@keyframes slideUp-a87bb1 {
  0% {
    background-image: linear-gradient(to top, white 50%, #a87bb1 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #a87bb1; }
  30% {
    background-image: linear-gradient(to top, white 50%, #a87bb1 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #a87bb1; }
  100% {
    background-image: linear-gradient(to top, white 50%, #a87bb1 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #a87bb1; } }

@keyframes slideLeft-a87bb1 {
  0% {
    background-image: linear-gradient(to left, #a87bb1 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #a87bb1; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #a87bb1 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #a87bb1 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-a87bb1 {
  0% {
    background-image: linear-gradient(to right, white 50%, #a87bb1 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #a87bb1; }
  15% {
    color: #a87bb1; }
  30% {
    background-image: linear-gradient(to right, white 50%, #a87bb1 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #a87bb1 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-c27ba0 {
  0% {
    background-image: linear-gradient(to bottom, #c27ba0 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #c27ba0; }
  30% {
    background-image: linear-gradient(to bottom, #c27ba0 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #c27ba0; }
  100% {
    background-image: linear-gradient(to bottom, #c27ba0 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #c27ba0; } }

@keyframes slideUp-c27ba0 {
  0% {
    background-image: linear-gradient(to top, white 50%, #c27ba0 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #c27ba0; }
  30% {
    background-image: linear-gradient(to top, white 50%, #c27ba0 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #c27ba0; }
  100% {
    background-image: linear-gradient(to top, white 50%, #c27ba0 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #c27ba0; } }

@keyframes slideLeft-c27ba0 {
  0% {
    background-image: linear-gradient(to left, #c27ba0 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #c27ba0; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #c27ba0 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #c27ba0 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-c27ba0 {
  0% {
    background-image: linear-gradient(to right, white 50%, #c27ba0 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #c27ba0; }
  15% {
    color: #c27ba0; }
  30% {
    background-image: linear-gradient(to right, white 50%, #c27ba0 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #c27ba0 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }

@keyframes slideDown-cc3b3b {
  0% {
    background-image: linear-gradient(to bottom, #cc3b3b 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #cc3b3b; }
  30% {
    background-image: linear-gradient(to bottom, #cc3b3b 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #cc3b3b; }
  100% {
    background-image: linear-gradient(to bottom, #cc3b3b 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    color: #cc3b3b; } }

@keyframes slideUp-cc3b3b {
  0% {
    background-image: linear-gradient(to top, white 50%, #cc3b3b 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    color: white; }
  15% {
    color: #cc3b3b; }
  30% {
    background-image: linear-gradient(to top, white 50%, #cc3b3b 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #cc3b3b; }
  100% {
    background-image: linear-gradient(to top, white 50%, #cc3b3b 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    color: #cc3b3b; } }

@keyframes slideLeft-cc3b3b {
  0% {
    background-image: linear-gradient(to left, #cc3b3b 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #cc3b3b; }
  15% {
    color: white; }
  30% {
    background-image: linear-gradient(to left, #cc3b3b 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to left, #cc3b3b 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white; } }

@keyframes slideRight-cc3b3b {
  0% {
    background-image: linear-gradient(to right, white 50%, #cc3b3b 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #cc3b3b; }
  15% {
    color: #cc3b3b; }
  30% {
    background-image: linear-gradient(to right, white 50%, #cc3b3b 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; }
  100% {
    background-image: linear-gradient(to right, white 50%, #cc3b3b 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    color: white; } }
