.clock {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  font-size: 8em;
}

.slideDown {
  animation-name: slideDownAnim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes slideDownAnim {
  0% {
    background-image: linear-gradient(to bottom, pink 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
  }
  80% {
    background-image: linear-gradient(to bottom, pink 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
  }
  100% {
    background-image: linear-gradient(to bottom, pink 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
  }
}

.slideUp {
  animation-name: slideUpAnim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes slideUpAnim {
  0% {
    background-image: linear-gradient(to top, white 50%, pink 50%);
    background-size: 100% 200%;
    background-position: 0 0;
  }
  80% {
    background-image: linear-gradient(to top, white 50%, pink 50%);
    background-size: 100% 200%;
    background-position: 0 0;
  }
  100% {
    background-image: linear-gradient(to top, white 50%, pink 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
  }
}

.slideLeft {
  animation-name: slideLeftAnim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes slideLeftAnim {
  0% {
    background-image: linear-gradient(to left, pink 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
  }
  80% {
    background-image: linear-gradient(to left, pink 50%, white 50%);
    background-size: 200% 100%;
    background-position: 0 0;
  }
  100% {
    background-image: linear-gradient(to left, pink 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
}

.slideRight {
  animation-name: slideRightAnim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes slideRightAnim {
  0% {
    background-image: linear-gradient(to right, white 50%, pink 50%);
    background-size: 200% 100%;
    background-position: 0 0;
  }
  80% {
    background-image: linear-gradient(to right, white 50%, pink 50%);
    background-size: 200% 100%;
    background-position: 0 0;
  }
  100% {
    background-image: linear-gradient(to right, white 50%, pink 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
  }
}

