.menu {
  position: fixed;
  top: 20%;
  width: 4.5em;
  height: 4em;
  background-color: #1E3C96;
  display: inline;
  color: white;
  padding-top: 3px;
  padding-left: 3px;
  font-size: 90%;
  font-weight: 900;
  font-family: "DIN Alternate";
}
