.menu {
  position: fixed;
  top: 25%;
  width: 3.8em;
  height: 3.3em;
  display: inline;
  color: white;
  padding-top: 4px;
  padding-left: 4px;
  font-size: 90%;
  font-weight: 900;
}

.arrow-left {
  position: absolute;
  right: 3%;
  bottom: 2%;
}
